In [1]:
# Import the modules
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import accuracy_score, balanced_accuracy_score, confusion_matrix, classification_report

---

## Split the Data into Training and Testing Sets

### Step 1: Read the `lending_data.csv` data from the `Resources` folder into a Pandas DataFrame.

In [2]:
# Read the CSV file from the Resources folder into a Pandas DataFrame
# Load the data into a Pandas DataFrame
lending_df = pd.read_csv(
    "Resources/lending_data.csv")

# Review dataframe
lending_df

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0
...,...,...,...,...,...,...,...,...
77531,19100.0,11.261,86600,0.653580,12,2,56600,1
77532,17700.0,10.662,80900,0.629172,11,2,50900,1
77533,17600.0,10.595,80300,0.626401,11,2,50300,1
77534,16300.0,10.068,75300,0.601594,10,2,45300,1
77535,15600.0,9.742,72300,0.585062,9,2,42300,1

### Step 2: Create the labels set (`y`)  from the “loan_status” column, and then create the features (`X`) DataFrame from the remaining columns.

In [3]:
# Separate the data into labels and features

# Separate the y variable, the labels
# Extract the "loan_status" column as labels
y = lending_df["loan_status"]

# Separate the X variable, the features
# Drop the "loan_status" column to create the features DataFrame
X = lending_df.drop("loan_status", axis=1)

In [4]:
# Review the y variable Series
y

0        0
1        0
2        0
3        0
4        0
        ..
77531    1
77532    1
77533    1
77534    1
77535    1
Name: loan_status, Length: 77536, dtype: int64

In [5]:
# Review the X variable DataFrame
X

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
0,10700.0,7.672,52800,0.431818,5,1,22800
1,8400.0,6.692,43600,0.311927,3,0,13600
2,9000.0,6.963,46100,0.349241,3,0,16100
3,10700.0,7.664,52700,0.430740,5,1,22700
4,10800.0,7.698,53000,0.433962,5,1,23000
...,...,...,...,...,...,...,...
77531,19100.0,11.261,86600,0.653580,12,2,56600
77532,17700.0,10.662,80900,0.629172,11,2,50900
77533,17600.0,10.595,80300,0.626401,11,2,50300
77534,16300.0,10.068,75300,0.601594,10,2,45300
77535,15600.0,9.742,72300,0.585062,9,2,42300

### Step 3: Check the balance of the labels variable (`y`) by using the `value_counts` function.

In [6]:
# Check the balance of our target values
# Use the value_counts() function to count the occurrences of each unique value in 'y'
label_counts = y.value_counts()

# Print or display the results
print("Label counts:")
print(label_counts)

Label counts:
0    75036
1     2500
Name: loan_status, dtype: int64

### Step 4: Split the data into training and testing datasets by using `train_test_split`.

In [7]:
# Import the train_test_learn module
from sklearn.model_selection import train_test_split

# Split the data using train_test_split
# Assign a random_state of 1 to the function
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

---

## Create a Logistic Regression Model with the Original Data

###  Step 1: Fit a logistic regression model by using the training data (`X_train` and `y_train`).

In [8]:
# Import the LogisticRegression module from SKLearn
from sklearn.linear_model import LogisticRegression

# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
logreg_model = LogisticRegression(random_state=1)

# Fit the model using training data
logreg_model.fit(X_train, y_train)

LogisticRegression(random_state=1)

### Step 2: Save the predictions on the testing data labels by using the testing feature data (`X_test`) and the fitted model.

In [9]:
# Make a prediction using the testing data
y_predict = logreg_model.predict(X_test)

### Step 3: Evaluate the model’s performance by doing the following:

* Calculate the accuracy score of the model.

* Generate a confusion matrix.

* Print the classification report.

In [10]:
# Print the accuracy score of the model
accuracy = accuracy_score(y_test, y_predict)
print("Accuracy Score:", accuracy)

Accuracy Score: 0.9921975754449317

In [11]:
# Print the balanced_accuracy score of the model
balanced_accuracy = balanced_accuracy_score(y_test, y_predict)
print("Balanced Accuracy Score:", balanced_accuracy)

Balanced Accuracy Score: 0.9521352751368186

In [12]:
# Generate a confusion matrix for the model
conf_matrix = confusion_matrix(y_test, y_predict)
print(conf_matrix)

[[14926    75]
 [   46   461]]

In [13]:
# Print the classification report for the model
class_report = classification_report(y_test, y_predict)
print(class_report)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00     15001
           1       0.86      0.91      0.88       507

    accuracy                           0.99     15508
   macro avg       0.93      0.95      0.94     15508
weighted avg       0.99      0.99      0.99     15508

### Step 4: Answer the following question.

**Question:** How well does the logistic regression model predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:** The model correctly identifies all the healthy loans in the testing data, and there are no false positives or false negatives for this class. The model performs well in predicting high-risk loans but not as perfectly as the healthy loans. The precision being .86 means that about 86% of the predicted high-risk loans are correct and the 0.91 in recall means that about 91% of the high-risk loans in the testing data was correctly identified. Overall, the logistic regression model is highly accurate in predicting both loan labels. The logistic regression model is reliable in distinguishing healthy loans from high-risk loans.

---

## Predict a Logistic Regression Model with Resampled Training Data

### Step 1: Use the `RandomOverSampler` module from the imbalanced-learn library to resample the data. Be sure to confirm that the labels have an equal number of data points.

In [14]:
# Import the RandomOverSampler module form imbalanced-learn
from imblearn.over_sampling import RandomOverSampler

# Instantiate the random oversampler model
# Assign a random_state parameter of 1 to the model
ros = RandomOverSampler(random_state=1)

# Fit the original training data to the random_oversampler model
X_train_resampled, y_train_resampled = ros.fit_resample(X_train, y_train)

In [15]:
# Count the distinct values of the resampled labels data
distinct_values_count = pd.Series(y_train_resampled).value_counts()

print("Count of distinct values in the resampled labels data:")
print(distinct_values_count)

Count of distinct values in the resampled labels data:
1    60035
0    60035
Name: loan_status, dtype: int64

### Step 2: Use the `LogisticRegression` classifier and the resampled data to fit the model and make predictions.

In [16]:
# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
logreg_model_resampled = LogisticRegression(random_state=1)

# Fit the model using the resampled training data
logreg_model_resampled.fit(X_train_resampled, y_train_resampled)

# Make a prediction using the testing data
y_pred_resampled = logreg_model_resampled.predict(X_test)

### Step 3: Evaluate the model’s performance by doing the following:

* Calculate the accuracy score of the model.

* Generate a confusion matrix.

* Print the classification report.

In [17]:
# Calculate the accuracy score of the resampled model
accuracy_resampled = accuracy_score(y_test, y_pred_resampled)

# Print the accuracy score of the resampled model
print("Accuracy Score (Resampled):", accuracy_resampled)

Accuracy Score (Resampled): 0.9942610265669332

In [18]:
# Calculate the balanced accuracy score of the resampled model
balanced_accuracy_resampled = balanced_accuracy_score(y_test, y_pred_resampled)

# Print the balanced_accuracy score of the model 
print("Balanced Accuracy Score (Resampled):", balanced_accuracy_resampled)

Balanced Accuracy Score (Resampled): 0.9941749445500477

In [19]:
# Generate a confusion matrix for the model
conf_matrix_resampled = confusion_matrix(y_test, y_pred_resampled)

In [20]:
# Print the classification report for the model
print(conf_matrix_resampled)

[[14915    86]
 [    3   504]]

### Step 4: Answer the following question

**Question:** How well does the logistic regression model, fit with oversampled data, predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:** The model identifies all the healthy loans in the resampled data and indicates that the model correctly identifies around 99.4% of healthy loans with very few false positives and false negatives in its predictions for this class. The model performs well in predicting high-risk loans but not as perfectly as the healthy loans. The precision being .854 means that about 85.4% of the predicted high-risk loans are correct with 14.6% being false positives and a 0.918 in F-1 score means that about 91.8% of the high-risk loans in the testing data was correctly identified. Overall, the logistic regression model is has an excellent performance in predicting both loan labels.